.textonormal { font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 8pt; font-style: normal; font-weight: normal; text-transform: none; color: #000000; text-decoration: none; }
.textolink { font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 8pt; font-style: normal; font-weight: none; font-variant: normal; text-transform: none; color: #007ACA; text-decoration: underline; }
.textomenu { font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 8pt; font-style: normal; font-weight: none; text-transform: none; color: #00335A; text-decoration: none; }
