.body 
{
    SCROLLBAR-FACE-COLOR: #dfdfdf;
    SCROLLBAR-HIGHLIGHT-COLOR: #f8f7f7;
    SCROLLBAR-SHADOW-COLOR: #7B0F1E;
    SCROLLBAR-3DLIGHT-COLOR: white;
    SCROLLBAR-ARROW-COLOR: #7B0F1E;
    SCROLLBAR-TRACK-COLOR: #ffffff;
    SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
    BACKGROUND-COLOR: #ffffff;
	/*BACKGROUND-COLOR: #f8f7f7*/
}



.datosizq {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	text-align: right;
}
.superiorlink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #B3313D;
	text-align: center;
	text-decoration: none;
}
.superiorlink:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #481318;
	text-align: center;
	text-decoration: none;
}
.relleno {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #696969;
	background-color: #FFFFFF;
	height: 14px;
	width: 175px;
	border: 1px solid #FFFFFF;
}
.Perfil
{
    FONT-SIZE: 9px;
    TEXT-TRANSFORM: uppercase;
    COLOR: #ce1432;
    FONT-FAMILY: Verdana;
}
.Resaltado
{
    FONT-SIZE: 10px;
	COLOR:black;
    FONT-FAMILY: Verdana;
	HEIGHT: 18px;
	CURSOR:hand;
	background-color:#c7d7e7;	
}
A.enlacelogin:active
{
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: none;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
A.enlacelogin:visited
{
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: none;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
A.enlacelogin:link
{
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: none;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
A.enlacelogin:hover
{
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: none;
    COLOR: #cccccc;
    FONT-FAMILY: Verdana;
    FONT-WEIGHT: bold
}
A.enlace:active
{
    FONT-SIZE: 12px;
    TEXT-TRANSFORM: none;
    COLOR: #ffffff;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none;
    FONT-WEIGHT: bold
}
A.enlace:visited
{
    FONT-SIZE: 12px;
    TEXT-TRANSFORM: none;
	COLOR: #000000;
    FONT-FAMILY: Arial;
	FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
A.enlace:link
{
    FONT-SIZE: 12px;
    TEXT-TRANSFORM: none;
    COLOR: white;
    FONT-FAMILY: Arial;
	FONT-WEIGHT: bold;
    TEXT-DECORATION: none;
}
A.enlace:hover
{
    FONT-SIZE: 12px;
    TEXT-TRANSFORM: none;
	COLOR: #000000;
    FONT-FAMILY: Arial;
    FONT-WEIGHT: bold;
    
}
.texto_bold
{
    FONT-SIZE: 10px;
    /*COLOR: #c71444;*/
	COLOR:#636563;
    FONT-FAMILY: Verdana;
	FONT-WEIGHT: bold;
}
.texto
{
	BORDER-TOP: #00A0E4 1px solid;
	BORDER-left: #00A0E4 1px solid;
	BORDER-right: #00A0E4 1px solid;
	BORDER-bottom: #00A0E4 1px solid;
    FONT-SIZE: 10px;    
	HEIGHT: 18px;
	COLOR:#636563;
    FONT-FAMILY: Verdana;
}
.texto_web
{
    FONT-SIZE: 10px;    
	HEIGHT: 18px;
	COLOR:#636563;
    FONT-FAMILY: Verdana;
}

.texto_libre
{
    FONT-SIZE: 12px;    
	COLOR:#636563;
    FONT-FAMILY: Arial;
}
.texto_resaltado
{
    FONT-SIZE: 12px;
	COLOR:#636563;
	background-color:#99ccff;
    FONT-FAMILY: Arial;
	HEIGHT: 18px;
	font-weight: bold;
	CURSOR:pointer;
}

.tabla
{
   
    BORDER-RIGHT: #6b6d6b 1px solid;
    BORDER-TOP: #6b6d6b 1px solid;
	BORDER-BOTTOM: #6b6d6b 1px solid;
	BORDER-LEFT: #6b6d6b 1px solid;
    FONT-SIZE: 12px;
    TEXT-TRANSFORM: capitalize;
    FONT-FAMILY: Arial;
    COLOR: #606060;
    BORDER-COLOR:#AD222F;
    BACKGROUND-COLOR: #f2f2f2;
}
.tablagrilla
{
    BACKGROUND-COLOR: #f2f2f2;
	FONT-SIZE: 12px;
    /*TEXT-TRANSFORM: capitalize;*/
    WIDTH: 100%;
    FONT-FAMILY: Arial;
    color: #606060;
    
}

.tablagrilla2
{
    BACKGROUND-COLOR: #f2f2f2;
	FONT-SIZE: 11px;
    /*TEXT-TRANSFORM: capitalize;*/
    WIDTH: 100%;
    FONT-FAMILY: Tahoma;
    color: #606060;
}

.cajatexto-login
{
    FONT-SIZE: 10px;
    /*COLOR: #c71444;*/
	COLOR:#636563;
    FONT-FAMILY: Verdana;

}
.cajatexto
{	
	BORDER-TOP: #7ba2ce 1px solid;
	BORDER-left: #7ba2ce 1px solid;
	BORDER-right: #7ba2ce 1px solid;
	BORDER-bottom: #7ba2ce 1px solid;
    FONT-SIZE: 11px;
    /*COLOR: #c71444;*/
	COLOR:#636563;
    FONT-FAMILY: arial;

}
.cajacolor
{	
	BORDER-TOP: #d4d0c8 1px solid;
	BORDER-left: #d4d0c8 1px solid;
	BORDER-right: #d4d0c8 1px solid;
	BORDER-bottom: #d4d0c8 1px solid;
    /*#7ba2ce*/
	/*FONT-SIZE: 10px;*/
    /*COLOR: #c71444;*/
	/*COLOR:#636563;*/
    FONT-FAMILY: arial;

}
.cajatexto_r
{	
	BORDER-TOP: #ff0000 2px solid;
	BORDER-TOP: #ff0000 2px solid;
	BORDER-left: #ff0000 2px solid;
	BORDER-right: #ff0000 2px solid;
	BORDER-bottom: #ff0000 2px solid;
    FONT-SIZE: 11px;
   	BACKGROUND-COLOR: #fffff1;
    FONT-FAMILY: arial;
    TEXT-ALIGN: center;
    COLOR:#ff0000;
	FONT-WEIGHT: bold;
	height:20px;
}
.cajatexto_v
{	
	BORDER-TOP: #009900 2px solid;
	BORDER-TOP: #009900 2px solid;
	BORDER-left: #009900 2px solid;
	BORDER-right: #009900 2px solid;
	BORDER-bottom: #009900 2px solid;
    FONT-SIZE: 11px;
   	BACKGROUND-COLOR: #fffff1;
    FONT-FAMILY: arial;
    TEXT-ALIGN: center;
    COLOR:#009900;
	FONT-WEIGHT: bold;
	height:20px;
}
.cajatexto_1
{	
	BORDER-TOP: #7ba2ce 1px solid;
	BORDER-left: #7ba2ce 1px solid;
	BORDER-right: #7ba2ce 1px solid;
	BORDER-bottom: #7ba2ce 1px solid;
    FONT-SIZE: 11px;
   	BACKGROUND-COLOR: #f0ede7;
    FONT-FAMILY: arial;
    COLOR:#636563;
}

.cajatexto_1_black
{	
	BORDER-TOP: #7ba2ce 1px solid;
	BORDER-left: #7ba2ce 1px solid;
	BORDER-right: #7ba2ce 1px solid;
	BORDER-bottom: #7ba2ce 1px solid;
    FONT-SIZE: 11px;
   	BACKGROUND-COLOR: #f0ede7;
    FONT-FAMILY: arial;
    COLOR:black;
}

.cajatexto_o
{	
	BORDER-TOP: #7ba2ce 1px solid;
	BORDER-left: #7ba2ce 1px solid;
	BORDER-right: #7ba2ce 1px solid;
	BORDER-bottom: #7ba2ce 1px solid;
    FONT-SIZE: 11px;
   	BACKGROUND-COLOR: #fffff1;
    FONT-FAMILY: arial;
    COLOR:#636563;
}
.combo_o
{
	FONT-SIZE: 11px;
    TEXT-TRANSFORM: capitalize;    
	COLOR:#636563;
    FONT-FAMILY: arial;
    FONT-VARIANT: small-caps;
	BACKGROUND-COLOR: #fffff1;
}
   
.cabecera
{
    FONT-SIZE: 10px;
    COLOR: #636563;
    FONT-FAMILY: Verdana;
    FONT-WEIGHT: bold;
}
.Combo
{
	FONT-SIZE: 11px;
    TEXT-TRANSFORM: capitalize;    
	COLOR:#636563;
    FONT-FAMILY: arial;
    FONT-VARIANT: small-caps;
   }
.Combo_1
{
	FONT-SIZE: 11px;
    TEXT-TRANSFORM: capitalize;    
	COLOR:#636563;
    FONT-FAMILY: arial;
    FONT-VARIANT: small-caps;
	BACKGROUND-COLOR: #f0ede7;
	
   }  
.opc_combo
{
    FONT-SIZE: 15px;
    TEXT-TRANSFORM: capitalize;
    COLOR:#ffffff;
    FONT-FAMILY: arial;
    FONT-VARIANT: small-caps;
	FONT-WEIGHT: bold
}
.barra
{
    background-color:#eae9e9;
}

.tabla_1
{
    BORDER-RIGHT: #6b6d6b 1px solid;
    BORDER-TOP: #6b6d6b 1px solid;
	BORDER-BOTTOM: #6b6d6b 1px solid;
    FONT-SIZE: 12px;
    TEXT-TRANSFORM: uppercase;
    BORDER-LEFT: #6b6d6b 1px solid;
    FONT-FAMILY: Arial;
    BORDER-COLOR:#AD222F;
    COLOR: #606060;
    BACKGROUND-COLOR: #f2f2f2;
}
.texto_cap
{
	FONT-FAMILY: Arial;
	TEXT-TRANSFORM: Capitalize;
	FONT-SIZE: 11px;
	}
	
.texto_norm
{
	FONT-FAMILY: Arial;	
	text-transform:none;
	FONT-SIZE: 10px;
	}

.texto_bcap
{
	FONT-FAMILY: Arial;
	TEXT-TRANSFORM: Capitalize;
	FONT-SIZE: 12px;
	COLOR: #FFFFFF;
	}
.texto_bupper
{
	FONT-FAMILY: Arial;
	TEXT-TRANSFORM: Uppercase;
	FONT-SIZE: 15px;
	COLOR: #FFFFFF;
	}
.tablalogin
{
    BORDER-RIGHT: #6b6d6b 1px solid;
    BORDER-TOP: #6b6d6b 1px solid;
	BORDER-BOTTOM: #6b6d6b 1px solid;
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: capitalize;
    BORDER-LEFT: #6b6d6b 1px solid;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #eae9e9;
	/*FONT-WEIGHT: bold*/
}
.tablab
{
    BORDER-RIGHT: #6b6d6b 1px solid;
    BORDER-TOP: #6b6d6b 1px solid;
	BORDER-BOTTOM: #6b6d6b 1px solid;
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: capitalize;
    BORDER-LEFT: #6b6d6b 1px solid;
    WIDTH: 100%;
  	BORDER:1px;
  	BORDER-COLOR:#ffffff;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #eae9e9;
}

.radio
{
 	COLOR:#7ba2ce;
 }
.boton
{	
	BORDER-RIGHT: #7ba2ce  1px solid;
    BORDER-TOP: #7ba2ce  1px solid;
	BORDER-BOTTOM: #7ba2ce  1px solid;
	BORDER-LEFT: #7ba2ce 1px solid;
    FONT-SIZE: 10px;
    /*TEXT-TRANSFORM: capitalize;*/
    COLOR: #B50000;
    CURSOR:HAND;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #ffffff;
    FONT-WEIGHT: bold;
	/*WIDTH:110px;*/
}
.grilla
{
    FONT-WEIGHT: 100;
    FONT-SIZE: 12px;
    TEXT-TRANSFORM: capitalize;
    COLOR: white;
    FONT-FAMILY: Arial;
    /*BACKGROUND-COLOR: #AD222F;*/
    BACKGROUND-COLOR: #7B0F1E;
    /*CURSOR: hand;*/
    TEXT-ALIGN: center;
	HEIGHT:30px;
	/*border:solid 1px white;*/
}

.grilla2
{
    FONT-WEIGHT: 100;
    FONT-SIZE: 11px;
    TEXT-TRANSFORM: none;
    COLOR: white;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #048BBA;
    TEXT-ALIGN: center;
	HEIGHT:20px;
	font-weight: bold
}

.grillaDetalle
{
    FONT-WEIGHT: 100;
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: capitalize;
    /*BACKGROUND-COLOR: #AD222F;*/
    FONT-FAMILY: Arial;
    TEXT-ALIGN: center;
	HEIGHT:20px;
	/*border:solid 1px white;*/
}
.grillaWeb
{
    FONT-WEIGHT: 100;
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: capitalize;
    COLOR: white;
    FONT-FAMILY: Verdana;    
    /*BACKGROUND-COLOR: #7ba2ce;*/
    BACKGROUND-COLOR: #00A0E4;
    CURSOR: hand;
    TEXT-ALIGN: center;
	HEIGHT: 20px;
}

.Grilla_Programador
{
    FONT-WEIGHT: 100;
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: capitalize;
    COLOR: white;
    FONT-FAMILY: Verdana;
    /*BACKGROUND-COLOR: #B50000;*/
    BACKGROUND-COLOR: #7ba2ce;
    CURSOR: hand;
    TEXT-ALIGN: center;
	HEIGHT:20px;
	FONT-WEIGHT: bolder;
}
.Texto_Programador
{
	BACKGROUND-COLOR: #eae9e9;
	FONT-SIZE: 10px;
    TEXT-TRANSFORM: capitalize;
    FONT-FAMILY: Verdana;
	
}
.Texto_Programador_res
{
	BACKGROUND-COLOR: #99ccff;
	FONT-SIZE: 10px;
    TEXT-TRANSFORM: capitalize;
    FONT-FAMILY: Verdana;
	
}
.Titulo
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 8pt;
    COLOR: #B50000;
    FONT-FAMILY: Verdana;
    TEXT-ALIGN: left
}

/*--------------------------------------------------------------------------------------*/

.Grilla1
{
    FONT-WEIGHT: 100;
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: capitalize;
    CURSOR: hand;
    COLOR: white;
    FONT-FAMILY: Verdana;
    HEIGHT: 22px;
    BACKGROUND-COLOR: #feae20;
    TEXT-ALIGN: center
}


.Dgrilla
{
    BORDER-RIGHT: #959702 thin solid;
    BORDER-TOP: #959702 thin solid;
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: uppercase;
    BORDER-LEFT: #959702 thin solid;
    WIDTH: 99%;
    COLOR: #0000a0;
    BORDER-BOTTOM: #959702 thin solid;
    FONT-FAMILY: Verdana;
    LIST-STYLE-TYPE: none;
    BACKGROUND-COLOR: #eae9e9
}
.tabla2
{
    BORDER-RIGHT: white 1px;
    BORDER-TOP: white 1px;
    FONT-SIZE: 10px;
    OVERFLOW: auto;
    TEXT-TRANSFORM: none;
    BORDER-LEFT: white 1px;
    COLOR: #20ace7;
    BORDER-BOTTOM: white 1px;
    FONT-FAMILY: Verdana
}
.email
{
    FONT-SIZE: 9px;
    OVERFLOW: auto;
    COLOR: black;
    FONT-FAMILY: Verdana
}
.tablaborde
{
	BORDER-RIGHT: #20ace7 1px solid;
    /*BORDER-TOP: #597faf 5px solid;*/
	BORDER-BOTTOM: #20ace7 1px solid;
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: capitalize;
    BORDER-LEFT: #20ace7 1px solid;
    WIDTH: 100%;
    FONT-FAMILY: Verdana;
    COLOR: #20ace7;
}
.tablaborde_web
{
	BORDER-RIGHT: #20ace7 1px solid;
    BORDER-BOTTOM: #20ace7 1px solid;
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: capitalize;
    BORDER-LEFT: #20ace7 1px solid;
    WIDTH: 100%;
    FONT-FAMILY: Verdana;
    COLOR: gray;
}
.Detalle
{
    FONT-SIZE: 10px;
    OVERFLOW: auto;
    TEXT-TRANSFORM: none;
    COLOR: #666666;
    FONT-FAMILY: Verdana;
}

.Tab
{
    FONT-WEIGHT: 100;
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: capitalize;
    COLOR: white;
    FONT-FAMILY: Verdana;    
    BACKGROUND-COLOR: #7ba2ce;
    CURSOR: hand;
    TEXT-ALIGN: center;
	HEIGHT: 20px;
}
.Tab_vert
{
    FONT-WEIGHT: 100;
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: capitalize;
    COLOR: white;
    FONT-FAMILY: Verdana;    
    /*BACKGROUND-COLOR: #7ba2ce;*/
    BACKGROUND-COLOR: #00A0E4;
    CURSOR: hand;
    TEXT-ALIGN: left;
	HEIGHT: 20px;
}
.tab_vert_resaltado
{
    FONT-WEIGHT: 100;
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: capitalize;
    COLOR: black;
    FONT-FAMILY: Verdana;    
    BACKGROUND-COLOR: #7ba1cg;
    CURSOR: hand;
    TEXT-ALIGN: left;
	FONT-WEIGHT: bolder;
	HEIGHT: 20px;
}
.tab_sub
{
    FONT-WEIGHT: 100;
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: capitalize;
    COLOR: #636563;
    FONT-FAMILY: Lucida Sans Unicode;  
	BACKGROUND-COLOR: #7ba1cg;
    /*BACKGROUND-COLOR: #cc0033;*/
    CURSOR: hand;
    /*TEXT-ALIGN: right;*/
	HEIGHT: 20px;
}
.tab_sub_res
{
    FONT-WEIGHT: 100;
    FONT-SIZE: 10px;
    /*TEXT-TRANSFORM: capitalize;*/
    /*COLOR: #063778;*/
    COLOR: #ffffff;
    FONT-FAMILY: Lucida Sans Unicode;    
	/*BACKGROUND-COLOR:#c7d7e7;*/
    /*BACKGROUND-COLOR: #7ba2ce;*/
    CURSOR: hand;
    /*TEXT-ALIGN: right;*/
	/*FONT-WEIGHT: bolder;*/
	/*TEXT-DECORATION: underline;*/
	HEIGHT: 20px;
}
.Tab_resaltado
{
    FONT-WEIGHT: 100;
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: capitalize;
    COLOR: white;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #7ba2ce;
    CURSOR: hand;
    TEXT-ALIGN: center;
	FONT-WEIGHT: bolder;
	HEIGHT: 20px;
}

.links
{
    FONT-WEIGHT: 100;
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: capitalize;
    COLOR: white;
    FONT-FAMILY: Verdana;
    CURSOR: hand;
    TEXT-ALIGN: center;		
}
.Texto_moneda
{
    BORDER-RIGHT: silver 1px solid;
    BORDER-TOP: silver 1px solid;
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: uppercase;
    BORDER-LEFT: silver 1px solid;
    COLOR: navy;
    BORDER-BOTTOM: silver 1px solid;
    FONT-FAMILY: Verdana;
    TEXT-ALIGN: right;
    FONT-VARIANT: small-caps
}
.Texto_moneda1
{
    BORDER-RIGHT: silver 1px solid;
    BORDER-TOP: silver 1px solid;
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: uppercase;
    BORDER-LEFT: silver 1px solid;
    COLOR:#636563;
    BORDER-BOTTOM: silver 1px solid;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #f0ede7;
    TEXT-ALIGN: right;
    FONT-VARIANT: small-caps
}
.Texto_moneda_o
{
    BORDER-RIGHT: silver 1px solid;
    BORDER-TOP: silver 1px solid;
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: uppercase;
    BORDER-LEFT: silver 1px solid;
    COLOR: navy;
    BORDER-BOTTOM: silver 1px solid;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #fffff1;
    TEXT-ALIGN: right;
    FONT-VARIANT: small-caps
}
.texto_leyenda
{
    FONT-SIZE: 9px;
	COLOR:#636563;
    FONT-FAMILY: Verdana;	
	CURSOR:hand;
}
.texto_vermas
{
    FONT-SIZE: 10px;
	COLOR:red;
    FONT-FAMILY: Verdana;	
	CURSOR:hand;
}
.grilla_moneda
{
    FONT-SIZE: 10px;        
    COLOR: navy;    
    FONT-FAMILY: Verdana;    
    TEXT-ALIGN: right;
    FONT-VARIANT: small-caps
}

.texto_dentro
{
    FONT-SIZE: 10px;
    /*COLOR: #c71444;*/
	COLOR:#B50000;
    FONT-FAMILY: Verdana;
	FONT-WEIGHT: bold;
}
.txtlink 
{
	font-family: Arial;
	font-size: 13px;
	color: #048BBA;
	text-decoration: none;
}

.box {
	font-family: Arial;
	font-size: 12px;
	color: #7E7E7E;
	height: 20px;
	width: 237px;
}

.TextoSimple
{
    FONT-WEIGHT: 100;
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: capitalize;
    COLOR: white;
    FONT-FAMILY: Verdana;    
    /*BACKGROUND-COLOR: #7ba2ce;*/
    /*BACKGROUND-COLOR: #00A0E4;*/
    CURSOR: hand;
    TEXT-ALIGN: left;
	HEIGHT: 20px;
}
.texto_rojo
{
    FONT-SIZE: 15px;
    BACKGROUND-COLOR: #ff0000;
    COLOR:#ccffff;
    /*TEXT-TRANSFORM: capitalize;*/
    FONT-FAMILY: arial;
    /*FONT-VARIANT: small-caps;*/
	FONT-WEIGHT: bold
}
.tabla_1A
{
    FONT-SIZE: 12px;
    TEXT-TRANSFORM: uppercase;
    FONT-FAMILY: Arial;
    BORDER-COLOR:#AD222F;
    COLOR: #606060;
    BACKGROUND-COLOR: #f2f2f2;
}
