BODY{
    SCROLLBAR-FACE-COLOR: #dfdfdf;
    SCROLLBAR-HIGHLIGHT-COLOR: #f8f7f7;
    SCROLLBAR-SHADOW-COLOR: #00A0E4;
    SCROLLBAR-3DLIGHT-COLOR: white;
    SCROLLBAR-ARROW-COLOR: #00A0E4;
    SCROLLBAR-TRACK-COLOR: #ffffff;
    SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
    BACKGROUND-COLOR: #ffffff;
}
a.enlacelogin:active{
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: none;
    COLOR: #c71444;
    FONT-FAMILY: Tahoma, Arial;
    TEXT-DECORATION: none
}
a.enlacelogin:visited{
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: none;
    COLOR: #c71444;
    FONT-FAMILY: Tahoma, Arial;
    TEXT-DECORATION: none
}
a.enlacelogin:link{
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: none;
    COLOR: #c71444;
    FONT-FAMILY: Tahoma, Arial;
    TEXT-DECORATION: none
}
a.enlacelogin:hover{
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: none;
    COLOR: #de9652;
    FONT-FAMILY: Tahoma, Arial
}
a.enlace:active{
    FONT-SIZE: 12px;
    TEXT-TRANSFORM: none;
    color: White;
    FONT-FAMILY: Tahoma, Arial;
	FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
a.enlace:visited{
    FONT-SIZE: 12px;
    TEXT-TRANSFORM: none;
    color: White;
    FONT-FAMILY: Tahoma, Arial;
	FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
a.enlace:link{
    FONT-SIZE: 12px;
    TEXT-TRANSFORM: none;    
    color: White;
    FONT-FAMILY: Tahoma, Arial;
	FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
a.enlace:hover{
    FONT-SIZE: 12px;
    TEXT-TRANSFORM: none;
    color:#333333;
    FONT-FAMILY: Tahoma, Arial;
    font-weight: bold;
}
tr.odd {
	background-color: #fff;
	font-family: Tahoma, Arial, Helvetica, sans-serif; 
	font-size: 8pt; 
	font-style: normal; 
	font-weight: normal; 
	text-transform: none; 
	color: #000000; 
	text-decoration: none;
}
tr.tableRowEven,tr.even {	
	background-color: #D7F2FF;
	font-family: Tahoma, Arial, Helvetica, sans-serif; 
	font-size: 8pt; 
	font-style: normal; 
	font-weight: normal; 
	text-transform: none; 
	color: #000000; 
	text-decoration: none;		
}
th.sorted {
	background-color: orange;
}
thead tr {
	background-color: #007ACA;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 8pt; 
	font-style: normal; 
	font-weight: none;
	text-transform: none; 
	color: #FFFFFF;
	text-decoration: none; 	
    height:30px;
}
td {
	font-family: Tahoma;
	font-size: 11px;
}
div.message {
    background: #ffc;
    border: 1px solid green;
    color: black;
    font-weight: normal;
    font: 8pt/14pt Verdana, sans-serif;
    margin: 10px auto;
    padding: 2px;
    padding-left: 4px;
    text-align: center;
    vertical-align: bottom;
}
.grilla{
    FONT-WEIGHT: 100;
    FONT-SIZE: 12px;
    TEXT-TRANSFORM: none;
    COLOR: white;
    FONT-FAMILY: Tahoma, Arial;
    BACKGROUND-COLOR: #048BBA;    
    TEXT-ALIGN: center;
	HEIGHT:25px;
}
.boton{	
	BORDER-RIGHT: #7ba2ce  1px solid;
    BORDER-TOP: #7ba2ce  1px solid;
	BORDER-BOTTOM: #7ba2ce  1px solid;
	BORDER-LEFT: #7ba2ce 1px solid;
    FONT-SIZE: 10px;
    COLOR: #B50000;
    CURSOR:HAND;
    FONT-FAMILY: Tahoma, Arial;
    BACKGROUND-COLOR: #ffffff;
    FONT-WEIGHT: bold;	
}
.cajatexto_1{	
	BORDER-TOP: #048BBA 1px solid;
	BORDER-left: #048BBA 1px solid;
	BORDER-right: #048BBA 1px solid;
	BORDER-bottom: #048BBA 1px solid;
    FONT-SIZE: 10px;
   	BACKGROUND-COLOR: #f0ede7;
    FONT-FAMILY: Tahoma, Arial;
    COLOR:black;
}