@CHARSET "UTF-8";
body {
	font-family:Tahoma, Geneva, sans-serif;
}

a:link
{
	color: #336699;
	font-family: Tahoma;
	font-size:11px;
	text-decoration: none;
}
a:visited
{
	font-size: 11px;
	color: #336699;
	font-family: Tahoma;
	text-decoration: none;
}
a:hover
{
	font-size: 11px;
	color: #7b92ad;
	font-family: Tahoma;
	background-color: lightcyan;
	text-decoration: underline;
}


.InputDatoDesactivo
{
	font-size: 11px;
	color: gray;
	font-family: Tahoma;
}

.CaptionDesactivo {
	font-family: Tahoma;
	font-size: 11px;
	color: #666666;
}

.Caption
{
	font-size: 11px;
	color: #000000;
	font-family: Tahoma;
	font-weight: bold;
}

.InputDato
{
	font-size: 11px;
	color: #4d4d4d;
	font-family: Tahoma;
}

.TRRow
{	
	font-size: 11px;
	color: black;
	font-family: Tahoma;
	background-color: white;
}

.TRRowAlterno
{
	font-size: 11px;
	color: black;
	font-family: Tahoma;
	background-color: #eeeeee;
}
.TRRowSelect
{
	font-size: 11px;
	color: navy;
	font-family: Tahoma;
	background-color: #b0c4de;
}

.TDRow
{
	border-top-style: none;
	border-bottom: #c1cdd8 1px solid;
	border-right-style: none;
	border-left-style: none;
	padding-left:2px;
	height:20px;
}

.TDRowSimple
{
	border-top-style: none;
	border-bottom: #c1cdd8 1px solid;
	border-right-style: none;
	border-left-style: none;
}


.TRCabeceraNoSelectSimple
{
	background-color: #DBEAF5;
	color: #10659e;
}

.TRCabeceraNoSelect
{
	cursor: hand;	
	background-color: #DBEAF5;
	color: #10659e;
}

.TRCabeceraNoSelect2
{
	cursor: hand;	
	background-color: #DBEAF5;
	color: #10659e;
	font-size: 12px;
	/*font-weight:bold;*/
}


.TRCabeceraTabla
{
	font-size: 11px;
	cursor: hand;	
	background-color: #a0c6e5;
	color: #10659e;
	height:20px;
	font-family : Tahoma, Arial, Helvetica, Sans-serif;
}

.DivArea{

	border-right: #c1cdd8 1px solid;
	border-left: #c1cdd8 1px solid;
	border-top: #c1cdd8 1px solid;
}

.TDCabecera
{	
	font-size: 11px;
	font-family: Tahoma;
	border-bottom: #c1cdd8 1px solid;
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
	height:26px;
}

.TableButton
{
	FONT-FAMILY: Tahoma; 
	FONT-SIZE: 11px;
	background-color: #f6f6f6;
}

.TableButton TD
{
	background-image: url('../Imagenes/Botones/bgcolor.gif');
	white-space: nowrap;
	height: 20px;
}

.TDButtonMouseOut
{	
	CURSOR: hand; 
	PADDING-LEFT: 3px; 
	PADDING-RIGHT: 3px;
	FONT-FAMILY: Tahoma; 
	FONT-SIZE: 11px;
	BORDER-BOTTOM: #c1cdd8 1px solid; 
	BORDER-LEFT: #c1cdd8 1px solid; 
	BORDER-RIGHT: #c1cdd8 1px solid; 
	BORDER-TOP: #c1cdd8 1px solid; 
}

.TDButtonMouseOver 
{
	BORDER-BOTTOM: #336699 1px solid; 
	BORDER-LEFT: #336699 1px solid; 
	BORDER-RIGHT: #336699 1px solid; 
	BORDER-TOP: #336699 1px solid; 
	CURSOR: hand; 
	PADDING-LEFT: 3px; 
	PADDING-RIGHT: 3px;
	FONT-FAMILY: Tahoma; 
	FONT-SIZE: 11px;
}


.texto {
	FONT-WEIGHT: normal; 
	TEXT-DECORATION: none; 
	font-size: 11px; 
	font-family: Tahoma, Arial, Tahoma;
	color:#000000 /*#003399*/
}

.texto_rojo {
	font-size: 11px;
	color: #ff0000;
	font-family: Tahoma;
}

.TableButtons
{
    border-right: #c1cdd8 1px solid;
	border-top: #c1cdd8 1px solid;
	border-left: #c1cdd8 1px solid;
	border-bottom: #c1cdd8 1px solid;
	background-color: #f6f6f6; /*#e9f2f8;*/
	PADDING-RIGHT: 2px; 
	PADDING-LEFT: 2px;
	PADDING-BOTTOM: 2px; 
	PADDING-TOP: 2px;
}

.DivMarco
{
	border-right: #c1cdd8 1px solid;
	border-top: #c1cdd8 1px solid;
	border-left: #c1cdd8 1px solid;
	border-bottom: #c1cdd8 1px solid;
	background-color: #f6f6f6;
}
.DivMarcoTabla
{
	border-right: #c1cdd8 1px solid;
	border-top: #c1cdd8 1px solid;
	border-left: #c1cdd8 1px solid;
	border-bottom: #c1cdd8 1px solid;
}

.DivPaginacion
{
	font-size: 11px;
	color: #10659e;
	font-family: Tahoma;
	background-color: #dbeaf5;
}

.TRPaginacion
{
	font-size: 11px;
	font-family: Tahoma;
	color: #10659e;
}
.TextPaginacion
{
	font-size: 11px;
	font-family: Tahoma;
	text-align: right;
}

#contenido-body
{
    margin-left:18px;
}

