body {
    SCROLLBAR-FACE-COLOR: #dfdfdf;
    SCROLLBAR-HIGHLIGHT-COLOR: white;
    SCROLLBAR-SHADOW-COLOR: #0382AD;
    SCROLLBAR-3DLIGHT-COLOR: white;
    SCROLLBAR-ARROW-COLOR: #0283ad;
    SCROLLBAR-TRACK-COLOR: #f8f7f7;
    SCROLLBAR-DARKSHADOW-COLOR: white;
    font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#table {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align:justify;
}
.TituloBiblio {	
	color: #0099CC;
	font-weight: bold;
}
.datosizq {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	text-align: right;
}
.superiorlink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #B3313D;
	text-align: center;
	text-decoration: none;
}
.superiorlink:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #481318;
	text-align: center;
	text-decoration: none;
}
.relleno {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #696969;
	background-color: #FFFFFF;
	height: 14px;
	width: 175px;
	border: 1px solid #FFFFFF;
}
.Perfil{
    FONT-SIZE: 9px;
    TEXT-TRANSFORM: uppercase;
    COLOR: #ce1432;
    FONT-FAMILY: Verdana;
}
.Resaltado{
    FONT-SIZE: 10px;
	COLOR:black;
    FONT-FAMILY: Verdana;
	HEIGHT: 18px;
	CURSOR:hand;
	background-color:#c7d7e7;	
}
A.enlacelogin:active{
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: none;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
A.enlacelogin:visited{
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: none;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
A.enlacelogin:link{
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: none;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
A.enlacelogin:hover{
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: none;
    COLOR: #cccccc;
    FONT-FAMILY: Verdana;
    FONT-WEIGHT: bold
}
A.enlace:active{
    FONT-SIZE: 12px;
    TEXT-TRANSFORM: none;
    COLOR: #ffffff;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none;
    FONT-WEIGHT: bold
}
A.enlace:visited{
    FONT-SIZE: 12px;
    TEXT-TRANSFORM: none;
	COLOR: #000000;
    FONT-FAMILY: Arial;
	FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
A.enlace:link{
    FONT-SIZE: 12px;
    TEXT-TRANSFORM: none;
    COLOR: white;
    FONT-FAMILY: Arial;
	FONT-WEIGHT: bold;
    TEXT-DECORATION: none;
}
A.enlace:hover{
    FONT-SIZE: 12px;
    TEXT-TRANSFORM: none;
	COLOR: #000000;
    FONT-FAMILY: Arial;
    FONT-WEIGHT: bold;
}
.texto_bold{
    FONT-SIZE: 10px;
	COLOR:#636563;
    FONT-FAMILY: Verdana;
	FONT-WEIGHT: bold;
}
.texto{
	BORDER-TOP: #00A0E4 1px solid;
	BORDER-left: #00A0E4 1px solid;
	BORDER-right: #00A0E4 1px solid;
	BORDER-bottom: #00A0E4 1px solid;
    FONT-SIZE: 10px;    
	HEIGHT: 18px;
	COLOR:#636563;
    FONT-FAMILY: Verdana;
}
.texto_web{
    FONT-SIZE: 10px;    
	HEIGHT: 18px;
	COLOR:#636563;
    FONT-FAMILY: Verdana;
}
.texto_libre{
    FONT-SIZE: 12px;    
	COLOR:#636563;
    FONT-FAMILY: Arial;
}
.texto_resaltado{
    FONT-SIZE: 12px;
	COLOR:#636563;
	background-color:#99ccff;
    FONT-FAMILY: Arial;
	HEIGHT: 18px;
	font-weight: bold;
	CURSOR:pointer;
}
.tabla{
    BORDER-RIGHT: #6b6d6b 1px solid;
    BORDER-TOP: #6b6d6b 1px solid;
	BORDER-BOTTOM: #6b6d6b 1px solid;
	BORDER-LEFT: #6b6d6b 1px solid;
    FONT-SIZE: 11px;
    TEXT-TRANSFORM: capitalize;
    FONT-FAMILY: Verdana, Arial;
    color: White;   
	BORDER-COLOR: #07A3D3;
    BACKGROUND-COLOR: #f2f2f2;
}
.tablagrilla{
    BACKGROUND-COLOR: #f2f2f2;
	FONT-SIZE: 12px;
    WIDTH: 100%;
    FONT-FAMILY: Arial;
    color: #606060;
}
.cajatexto-login{
    FONT-SIZE: 10px;
	COLOR:#636563;
    FONT-FAMILY: Verdana;
}
.cajatexto{	
	BORDER-TOP: #048BBA 1px solid;
	BORDER-left: #048BBA 1px solid;
	BORDER-right: #048BBA 1px solid;
	BORDER-bottom: #048BBA 1px solid;
    FONT-SIZE: 10px;
	COLOR:black;
    FONT-FAMILY: Tahoma,Arial;
}
.cajacolor{	
	BORDER-TOP: #d4d0c8 1px solid;
	BORDER-left: #d4d0c8 1px solid;
	BORDER-right: #d4d0c8 1px solid;
	BORDER-bottom: #d4d0c8 1px solid;    
    FONT-FAMILY: arial;

}
.cajatexto_r{	
	BORDER-TOP: #ff0000 2px solid;
	BORDER-TOP: #ff0000 2px solid;
	BORDER-left: #ff0000 2px solid;
	BORDER-right: #ff0000 2px solid;
	BORDER-bottom: #ff0000 2px solid;
    FONT-SIZE: 11px;
   	BACKGROUND-COLOR: #fffff1;
    FONT-FAMILY: arial;
    TEXT-ALIGN: center;
    COLOR:#ff0000;
	FONT-WEIGHT: bold;
	height:20px;
}
.cajatexto_v{	
	BORDER-TOP: #009900 2px solid;
	BORDER-TOP: #009900 2px solid;
	BORDER-left: #009900 2px solid;
	BORDER-right: #009900 2px solid;
	BORDER-bottom: #009900 2px solid;
    FONT-SIZE: 11px;
   	BACKGROUND-COLOR: #fffff1;
    FONT-FAMILY: arial;
    TEXT-ALIGN: center;
    COLOR:#009900;
	FONT-WEIGHT: bold;
	height:20px;
}
.cajatexto_1{	
	BORDER-TOP: #7ba2ce 1px solid;
	BORDER-left: #7ba2ce 1px solid;
	BORDER-right: #7ba2ce 1px solid;
	BORDER-bottom: #7ba2ce 1px solid;
    FONT-SIZE: 11px;
   	BACKGROUND-COLOR: #f0ede7;
    FONT-FAMILY: arial;
    COLOR:#636563;
}
.cajatexto_o{	
	BORDER-TOP: #048BBA 1px solid;
	BORDER-left: #048BBA 1px solid;
	BORDER-right: #048BBA 1px solid;
	BORDER-bottom: #048BBA 1px solid;
    FONT-SIZE: 10px;
   	BACKGROUND-COLOR: #fffff1;
    FONT-FAMILY: Tahoma,Arial;
    COLOR:black;
}
.combo_o{
	FONT-SIZE: 11px;
    TEXT-TRANSFORM: capitalize;    
	COLOR:#636563;
    FONT-FAMILY: arial;
    FONT-VARIANT: small-caps;
	BACKGROUND-COLOR: #fffff1;
}
.cabecera{
    FONT-SIZE: 10px;
    COLOR: #636563;
    FONT-FAMILY: Verdana;
    FONT-WEIGHT: bold;
}
.Combo{
	FONT-SIZE: 11px;
    TEXT-TRANSFORM: capitalize;    
	COLOR:#636563;
    FONT-FAMILY: arial;
    FONT-VARIANT: small-caps;
   }
.Combo_1{
	FONT-SIZE: 11px;
    TEXT-TRANSFORM: capitalize;    
	COLOR:#636563;
    FONT-FAMILY: arial;
    FONT-VARIANT: small-caps;
	BACKGROUND-COLOR: #f0ede7;
   }  
.opc_combo{
    FONT-SIZE: 15px;
    TEXT-TRANSFORM: capitalize;
    COLOR:#ffffff;
    FONT-FAMILY: Verdana, Arial;
    FONT-VARIANT: small-caps;
	FONT-WEIGHT: bold
}
.barra{
    background-color:#eae9e9;
}
.tabla_1{
    BORDER-RIGHT: #6b6d6b 1px solid;
    BORDER-TOP: #6b6d6b 1px solid;
	BORDER-BOTTOM: #6b6d6b 1px solid;
    FONT-SIZE: 12px;
    TEXT-TRANSFORM: uppercase;
    BORDER-LEFT: #6b6d6b 1px solid;
    FONT-FAMILY: Arial;
    BORDER-COLOR:#AD222F;
    COLOR: #606060;
    BACKGROUND-COLOR: #f2f2f2;
}
.texto_cap{
	FONT-FAMILY: Arial;
	TEXT-TRANSFORM: Capitalize;
	FONT-SIZE: 11px;
	}
.texto_bcap{
	FONT-FAMILY: Arial;
	TEXT-TRANSFORM: Capitalize;
	FONT-SIZE: 12px;
	COLOR: #FFFFFF;
	}
.texto_bupper{
	FONT-FAMILY: Arial;
	TEXT-TRANSFORM: Uppercase;
	FONT-SIZE: 15px;
	COLOR: #FFFFFF;
	}
.tablalogin{
    BORDER-RIGHT: #6b6d6b 1px solid;
    BORDER-TOP: #6b6d6b 1px solid;
	BORDER-BOTTOM: #6b6d6b 1px solid;
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: capitalize;
    BORDER-LEFT: #6b6d6b 1px solid;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #eae9e9;
}
.tablab{
    BORDER-RIGHT: #6b6d6b 1px solid;
    BORDER-TOP: #6b6d6b 1px solid;
	BORDER-BOTTOM: #6b6d6b 1px solid;
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: capitalize;
    BORDER-LEFT: #6b6d6b 1px solid;
    WIDTH: 100%;
  	BORDER:1px;
  	BORDER-COLOR:#ffffff;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #eae9e9;
}
.radio{
 	COLOR:#7ba2ce;
 }
.boton{	
	BORDER-RIGHT: #7ba2ce  1px solid;
    BORDER-TOP: #7ba2ce  1px solid;
	BORDER-BOTTOM: #7ba2ce  1px solid;
	BORDER-LEFT: #7ba2ce 1px solid;
    FONT-SIZE: 10px;
    COLOR: #B50000;
    CURSOR:HAND;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #ffffff;
    FONT-WEIGHT: bold;
}
.grilla{
    FONT-WEIGHT: 100;
    FONT-SIZE: 12px;
    TEXT-TRANSFORM: none;
    COLOR: white;
    FONT-FAMILY: Tahoma,Arial;
    BACKGROUND-COLOR: #048BBA;
    TEXT-ALIGN: center;
	HEIGHT:25px;
}
.grillaDetalle{
    FONT-WEIGHT: 100;
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: capitalize;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: center;
	HEIGHT:20px;
}
.grillaWeb{
    FONT-WEIGHT: 100;
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: capitalize;
    COLOR: white;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #00A0E4;
    CURSOR: hand;
    TEXT-ALIGN: center;
	HEIGHT: 20px;
}
.Grilla_Programador{
    FONT-WEIGHT: 100;
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: capitalize;
    COLOR: white;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #7ba2ce;
    CURSOR: hand;
    TEXT-ALIGN: center;
	HEIGHT:20px;
	FONT-WEIGHT: bolder;
}
.Texto_Programador{
	BACKGROUND-COLOR: #eae9e9;
	FONT-SIZE: 10px;
    TEXT-TRANSFORM: capitalize;
    FONT-FAMILY: Verdana;
}
.Texto_Programador_res{
	BACKGROUND-COLOR: #99ccff;
	FONT-SIZE: 10px;
    TEXT-TRANSFORM: capitalize;
    FONT-FAMILY: Verdana;
	
}
.Titulo{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 8pt;
    COLOR: #B50000;
    FONT-FAMILY: Verdana;
    TEXT-ALIGN: left
}
.Grilla1{
    FONT-WEIGHT: 100;
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: capitalize;
    CURSOR: hand;
    COLOR: white;
    FONT-FAMILY: Verdana;
    HEIGHT: 22px;
    BACKGROUND-COLOR: #feae20;
    TEXT-ALIGN: center
}
.Dgrilla{
    BORDER-RIGHT: #959702 thin solid;
    BORDER-TOP: #959702 thin solid;
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: uppercase;
    BORDER-LEFT: #959702 thin solid;
    WIDTH: 99%;
    COLOR: #0000a0;
    BORDER-BOTTOM: #959702 thin solid;
    FONT-FAMILY: Verdana;
    LIST-STYLE-TYPE: none;
    BACKGROUND-COLOR: #eae9e9
}
.tabla2{
    BORDER-RIGHT: white 1px;
    BORDER-TOP: white 1px;
    FONT-SIZE: 11px;
    OVERFLOW: auto;
    TEXT-TRANSFORM: none;
    BORDER-LEFT: white 1px;
    COLOR: #20ace7;
    BORDER-BOTTOM: white 1px;
    FONT-FAMILY: Verdana;
    FONT-WEIGHT: bold;
}
.tabla3{
    BORDER-RIGHT: white 1px;
    BORDER-TOP: white 1px;
    FONT-SIZE: 12px;
    OVERFLOW: auto;
    BORDER-LEFT: white 1px;
    BORDER-BOTTOM: white 1px;
    FONT-FAMILY: Arial;
    color: #048BBA;
}
.email{
    FONT-SIZE: 9px;
    OVERFLOW: auto;
    COLOR: black;
    FONT-FAMILY: Verdana
}
.tablaborde{
	BORDER-RIGHT: #20ace7 1px solid;
	BORDER-BOTTOM: #20ace7 1px solid;
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: capitalize;
    BORDER-LEFT: #20ace7 1px solid;
    WIDTH: 100%;
    FONT-FAMILY: Verdana;
    COLOR: #20ace7;
}
.tablaborde_web{
	BORDER-RIGHT: #20ace7 1px solid;
    BORDER-BOTTOM: #20ace7 1px solid;
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: capitalize;
    BORDER-LEFT: #20ace7 1px solid;
    WIDTH: 100%;
    FONT-FAMILY: Verdana;
    COLOR: gray;
}
.Detalle{
    FONT-SIZE: 10px;
    OVERFLOW: auto;
    TEXT-TRANSFORM: none;
    COLOR: #666666;
    FONT-FAMILY: Verdana;
}
.Tab{
    FONT-WEIGHT: 100;
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: capitalize;
    COLOR: white;
    FONT-FAMILY: Verdana;    
    BACKGROUND-COLOR: #7ba2ce;
    CURSOR: hand;
    TEXT-ALIGN: center;
	HEIGHT: 20px;
}
.Tab_vert{
    FONT-WEIGHT: 100;
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: capitalize;
    COLOR: white;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #00A0E4;
    CURSOR: hand;
    TEXT-ALIGN: left;
	HEIGHT: 20px;
}
.tab_vert_resaltado{
    FONT-WEIGHT: 100;
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: capitalize;
    COLOR: black;
    FONT-FAMILY: Verdana;    
    BACKGROUND-COLOR: #7ba1cg;
    CURSOR: hand;
    TEXT-ALIGN: left;
	FONT-WEIGHT: bolder;
	HEIGHT: 20px;
}
.tab_sub{
    FONT-WEIGHT: 100;
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: capitalize;
    COLOR: #636563;
    FONT-FAMILY: Lucida Sans Unicode;  
	BACKGROUND-COLOR: #7ba1cg;
    CURSOR: hand;
	HEIGHT: 20px;
}
.tab_sub_res{
    FONT-WEIGHT: 100;
    FONT-SIZE: 10px;    
    COLOR: #ffffff;
    FONT-FAMILY: Lucida Sans Unicode;	
    CURSOR: hand;   
	HEIGHT: 20px;
}
.Tab_resaltado{
    FONT-WEIGHT: 100;
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: capitalize;
    COLOR: white;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #7ba2ce;
    CURSOR: hand;
    TEXT-ALIGN: center;
	FONT-WEIGHT: bolder;
	HEIGHT: 20px;
}
.links{
    FONT-WEIGHT: 100;
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: capitalize;
    COLOR: white;
    FONT-FAMILY: Verdana;
    CURSOR: hand;
    TEXT-ALIGN: center;		
}
.Texto_moneda{
    BORDER-RIGHT: silver 1px solid;
    BORDER-TOP: silver 1px solid;
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: uppercase;
    BORDER-LEFT: silver 1px solid;
    COLOR: navy;
    BORDER-BOTTOM: silver 1px solid;
    FONT-FAMILY: Verdana;
    TEXT-ALIGN: right;
    FONT-VARIANT: small-caps
}
.Texto_moneda1{
    BORDER-RIGHT: silver 1px solid;
    BORDER-TOP: silver 1px solid;
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: uppercase;
    BORDER-LEFT: silver 1px solid;
    COLOR:#636563;
    BORDER-BOTTOM: silver 1px solid;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #f0ede7;
    TEXT-ALIGN: right;
    FONT-VARIANT: small-caps
}
.Texto_moneda_o{
    BORDER-RIGHT: silver 1px solid;
    BORDER-TOP: silver 1px solid;
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: uppercase;
    BORDER-LEFT: silver 1px solid;
    COLOR: navy;
    BORDER-BOTTOM: silver 1px solid;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #fffff1;
    TEXT-ALIGN: right;
    FONT-VARIANT: small-caps
}
.texto_leyenda{
    FONT-SIZE: 9px;
	COLOR:#636563;
    FONT-FAMILY: Verdana;	
	CURSOR:hand;
}
.texto_vermas{
    FONT-SIZE: 10px;
	COLOR:red;
    FONT-FAMILY: Verdana;	
	CURSOR:hand;
}
.grilla_moneda{
    FONT-SIZE: 10px;        
    COLOR: navy;    
    FONT-FAMILY: Verdana;    
    TEXT-ALIGN: right;
    FONT-VARIANT: small-caps
}
.texto_dentro{
    FONT-SIZE: 10px;    
	COLOR:#B50000;
    FONT-FAMILY: Verdana;
	FONT-WEIGHT: bold;
}
.txtlink {
	font-family: Arial;
	font-size: 13px;
	color: #048BBA;
	text-decoration: none;
}
.box {
	font-family: Arial;
	font-size: 12px;
	color: #7E7E7E;
	height: 20px;
	width: 237px;
}
.TextoSimple{
    FONT-WEIGHT: bolder;    
    FONT-SIZE: 11px;
    TEXT-TRANSFORM: capitalize;
    COLOR: white;
    FONT-FAMILY: Verdana;
    CURSOR: hand;    
	HEIGHT: 20px;
}
.texto_rojo{
    FONT-SIZE: 15px;
    BACKGROUND-COLOR: #ff0000;
    COLOR:#ccffff;
    FONT-FAMILY: arial;
	FONT-WEIGHT: bold
}
.tabla_1A{
    FONT-SIZE: 12px;
    TEXT-TRANSFORM: uppercase;
    FONT-FAMILY: Arial;
    BORDER-COLOR:#AD222F;
    COLOR: #606060;
    BACKGROUND-COLOR: #f2f2f2;
}
.headtabla {
	background-color: #058DBD;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt; 
	font-style: normal; 
	font-weight: bold;	
	text-transform: none; 
	color: #FFFFFF;
	text-decoration: none; 
    height:28px;
}
.fondoceldablanco {
	background-color: #fff;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 8pt; 
	font-style: normal; 
	font-weight: normal; 
	text-transform: none; 
	color: #000000; 
	text-decoration: none;	
}
.fondocelesteclaro {
	background-color: #D7F2FF;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 8pt; 
	font-style: normal; 
	font-weight: normal; 
	text-transform: none; 
	color: #000000; 
	text-decoration: none;	
}
.TextoSimple2{        
    FONT-SIZE: 11px;
    TEXT-TRANSFORM: capitalize;
    COLOR: white;
    FONT-FAMILY: Verdana;
    CURSOR: hand;    
	HEIGHT: 20px;
}
.TextoSimple{
    FONT-WEIGHT: bolder;    
    FONT-SIZE: 11px;
    TEXT-TRANSFORM: capitalize;
    COLOR: white;
    FONT-FAMILY: Verdana;
    CURSOR: hand;    
	HEIGHT: 20px;
}
.ficha{	
	BORDER-RIGHT: #7ba2ce  1px solid;
    BORDER-TOP: #7ba2ce  1px solid;
	BORDER-BOTTOM: #7ba2ce  1px solid;
	BORDER-LEFT: #7ba2ce 1px solid;
    FONT-SIZE: 11px;  
    COLOR: #0445A0;
    CURSOR:HAND;
    FONT-FAMILY: verdana;
    BACKGROUND-COLOR: #f0edeA;
    FONT-WEIGHT: normal;
}
td {
	font-family: Verdana, Tahoma;
	font-size: 12px;
}

/* Social btn */
.social-signin{
	width: 240px;
	display: inline-block;
	padding: 0 20px 0 0;
	margin-top: 5px;
	
	cursor: pointer;
	
	font-size: 13px;
	text-align: center;
	line-height: 28px;
	white-space: nowrap;
	color: #444;
	border: 1px solid rgba(0,0,0,0.15);
	background-color: #fff;
	
	
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	border-radius: 4px; 
	
	box-shadow: 0 0 0 1px rgba(255,255,255,0.05),inset 0 0 0 100px rgba(0,0,0,0.02);
	-moz-box-shadow: 0 0 0 1px rgba(255,255,255,0.05),inset 0 0 0 100px rgba(0,0,0,0.02);
	-webkit-box-shadow: 0 0 0 1px rgba(255,255,255,0.05),inset 0 0 0 100px rgba(0,0,0,0.02);
	box-sizing: border-box;
	
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	
	/* effects */
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
}
.social-signin:FIRST-CHILD{
	margin-top: 0px !important;
}
.social-signin:hover{
  	box-shadow: 0 0 0 1px rgba(255,255,255,0.05)
}
.social-signin > span.icon{
	display: inline-block;
    vertical-align: middle;
	width: 40px;
    height: 40px;
}
.social-signin > span.buttonText{
	font-size: 14px;
	width: 160px;
	display: inline-block;
	text-align: left;
}
#g-signin-custom > span.icon{
	background: url("../images/iconos/social-google-plus-24.png") transparent 10px 50% no-repeat;
}
#f-signin-custom > span.icon{
	background: url("../images/iconos/social-facebook-24.png") transparent 10px 50% no-repeat;
}

.social-profile{
	width: 240px;
	display: inline-block;
	padding: 2px;
	margin-top: 5px;
	
	border: 1px solid rgba(0,0,0,0.15);
	background-color: #fff;
	
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	border-radius: 4px; 
	
	box-sizing: border-box;
}
.social-profile > div.gpi-image{
	float: left;
	display: inline-block;
	margin-right: 5px;
	width: 40px;
    height: 40px;
    border: 1px solid #fff;
}
.social-profile > div.gpi-disconnect{
	float:right;
	display: inline-block;
	margin-left: 5px;
	
	background-image: url("../img/icon/disconnect.png");
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
	cursor: pointer;
	
	border: 1px solid rgba(0,0,0,0.15);
	
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	border-radius: 4px; 
	
	/* effects */
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
}
.social-profile > div.gpi-disconnect:HOVER{
	background-color: #ffcccc;
}
.social-profile > div.gpi-profile{
	font-size: 13px;
	color: #444;
	text-align: left;
}
.social-profile > div.gpi-profile > span{
	display: block;
	white-space: nowrap;
	font-weight: bold;
	line-height: 20px;
	margin-top: 2px;
}
.social-profile > div.gpi-profile > a{
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	color: #888;
	display: block;
	line-height: 14px;
}
.social-profile > div.gpi-profile > a:HOVER{
	text-decoration: underline;
	color: #444;
}