.cu250cue {
	PADDING-RIGHT: 5px; PADDING-LEFT: 10px; 
	FONT-SIZE: 8pt; PADDING-BOTTOM: 2px; 
	OVERFLOW: hidden; PADDING-TOP: 6px
}
.cu250tit {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; 
	FONT-SIZE: 11px; PADDING-BOTTOM: 3px; 
	FONT-FAMILY: verdana, arial, helvetica, sans-serif; 
	COLOR: #33406b; 
	PADDING-TOP: 5px; 
	BORDER-BOTTOM: #e5e5e5 2px solid
}
.cu250tit {
	FONT-FAMILY: Tahoma,Trebuchet MS,Helvetica,Verdana,Arial,sans-serif;
	FONT-WEIGHT: bold;
}
.cu250tit {
	PADDING-RIGHT: 5px; PADDING-LEFT: 9px; 
	PADDING-BOTTOM: 6px; MARGIN: 0px 1px; 
	PADDING-TOP: 0px; BORDER-BOTTOM: #e5e5e5 1px solid; 
	BACKGROUND-COLOR: #e8eefa
}
.ticker {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-BOTTOM: 0px; 
	OVERFLOW: hidden; WIDTH: 240px; 
	PADDING-TOP: 0px; HEIGHT: 180px;
	FONT-FAMILY: Tahoma, Verdana, Arial, helvetica, sans-serif; 
}

.elementoticker {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 8pt; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.elementoticker:hover {
	BACKGROUND-COLOR: #e5e5e5
}
.elementoticker A {
	FONT-WEIGHT: bold; 
	COLOR: #33c;
	TEXT-DECORATION: none
}
.elementoticker SPAN {
	DISPLAY: block
}
.contelementoticker {
	MARGIN: 10px 0px 0px; OVERFLOW: hidden; HEIGHT: 120px
}
